* {
  margin: 0;
  border: border-box;
  font-family: Arial;
}

a {
  color: white;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

button {
  font-size: 20px;
}

.nav-logo {
  height: 50px;
  width: 100px;
}

.border {
  border: 2px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
  width: auto;
  height: 30px;
}

.logo {
  height: 55px;
  width: 110px;
  background-size: cover;
  background-image: url("p2.png");
}

.add-icon {
  display: flex;
  align-items: center;
}

/** box2 **/
.add-first {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;

}

.add-second {
  font-size: 1rem;
  margin-left: 3px;
}

/**box3**/
.nav-search {
  display: flex;
  justify-content: space-evenly;
  background-color: pink;
  width: 620px;
  height: 40px;
  border-radius: 4px;

}

.nav-search:hover {
  border: 2px solid orange;
  
}

.search-select {
  border-top-left-radius: 4px;
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border: none;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;

}

.serch-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgb(211, 152, 3);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #0f1111;
}


img {
  width: 100%;
  height: 650px;
  
  display: flex;
  justify-content: center;
}




/**shop section**/
.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}

.box {
  border: 2px solid black;
  height: 370px;
  width: 20%;
  background-color: white;
  padding: 15px 0px 15px;
  margin-top: 15px;
}

.box-img {
  height: 300px;
  background-size: cover;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-content p {
  color: #007485;
}

/**footer**/
footer {
  margin-top: 15px;
}

.foot-panel1 {
  background-color: #374758;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}

.foot-panel2 {
  background-color: #222f3d;
  color: white;
  height: 300px;
  display: flex;
  justify-content: space-evenly;

}

ul {
  margin-top: 20px;
}

ul a {
  display: block;
  font-size: 0.85rem;
  color: #dddddd;
  margin-top: 10px;
}

.foot-panel3 {
  background-color: #222f3d;
  color: white;
  border-top: 0.5px solid white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.logo {
  background-image: url(p2.png);
  background-size: cover;

  height: 50px;
}

.foot-panel4 {
  background-color: #0f1111;
  color: white;
  height: 80px;
  text-align: center;
  font-size: 0.7rem;

}

.pages {

  padding-top: 25px;

}

.copy {

  padding-top: 5px;

}